{%extends 'base.html'%}
{%block head%}
    <title>صفحه اصلی</title>
{%endblock%}
{%block body%}
    <h1>سلام به سایت هوایی قلی زاده خوش آمدید</h1>
    <p>در اینجا شما میتوانید قیمت هر پرواز رو ببینید و همچنین مبدا و مقصد خودتون رو مشخص کنیدو به شما راهنمایی داده شود که چجوری باید از مبدا مورد نظر به مقصد مورد نظر برسید</p>
    <h2>قیمت ها</h2>
    <p>توجه داشته باید شید قیمت  هر شهر به شهر دیگه 5,000,000 تومان میباشد</p>
    <h2>نقشه پرواز هوایی</h2>
    <img src="../static/images/map.png" alt="نقشه">
{%endblock%}